apiVersion: apps/v1
kind: Deployment
metadata:
  name: querier
  namespace: tracing
spec:
  minReadySeconds: 10
  replicas: 5
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: querier
      name: querier
      tempo-gossip-member: "true"
  strategy:
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
  template:
    metadata:
      annotations:
        config_hash: 5ae9881ddd5abc1d3609268198a0aacd
      labels:
        app: querier
        name: querier
        tempo-gossip-member: "true"
    spec:
      containers:
      - args:
        - -target=querier
        - -config.file=/conf/tempo.yaml
        - -mem-ballast-size-mbs=1024
        image: grafana/tempo:latest
        imagePullPolicy: IfNotPresent
        name: querier
        ports:
        - containerPort: 3100
          name: prom-metrics
        readinessProbe:
          httpGet:
            path: /ready
            port: 3100
          initialDelaySeconds: 15
          timeoutSeconds: 1
        volumeMounts:
        - mountPath: /conf
          name: tempo-conf
      volumes:
      - configMap:
          name: tempo-querier
        name: tempo-conf
