apiVersion: apps/v1
kind: Deployment
metadata:
  name: querier
  namespace: tracing
spec:
  minReadySeconds: 10
  replicas: 5
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: querier
      name: querier
      tempo-gossip-member: "true"
  strategy:
    rollingUpdate:
      maxSurge: 3
      maxUnavailable: 1
  template:
    metadata:
      annotations:
        config_hash: aed646de3271d9fd648967f6425d56cd
      labels:
        app: querier
        name: querier
        tempo-gossip-member: "true"
    spec:
      containers:
      - args:
        - -target=querier
        - -config.file=/conf/tempo.yaml
        - -mem-ballast-size-mbs=1024
        image: grafana/tempo:latest
        imagePullPolicy: IfNotPresent
        name: querier
        ports:
        - containerPort: 3200
          name: prom-metrics
        readinessProbe:
          httpGet:
            path: /ready
            port: 3200
          initialDelaySeconds: 15
          timeoutSeconds: 1
        resources:
          limits:
            cpu: "1"
            memory: 2Gi
          requests:
            cpu: 500m
            memory: 1Gi
        volumeMounts:
        - mountPath: /conf
          name: tempo-conf
        - mountPath: /overrides
          name: overrides
      volumes:
      - configMap:
          name: tempo-querier
        name: tempo-conf
      - configMap:
          name: tempo-overrides
        name: overrides
