.DS_Store
.idea
.vscode
.claude
*.test
*.out
*.pprof
/.envrc
/bin
/cmd/tempo-cli/tempo-cli
/cmd/tempo-query/tempo-query
/dist
/example/docker-compose/**/gcs-data/
/example/docker-compose/**/tempo-data/
/operations/jsonnet/microservices/test/outputs
/operations/jsonnet/microservices/test/vendor
/pkg/traceql/y.output
/tempo
/tempo-query
/tempo-vulture
/tempodb/encoding/benchmark_block
private-key.key
integration/e2e/e2e_integration_test[0-9]*
integration/e2e/api/e2e_integration_test[0-9]*
integration/e2e/deployments/e2e_integration_test[0-9]*
.tempo.yaml
/tmp
gh-token.txt
.cache
