# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/
.venv/

# Poetry
poetry.lock

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Project specific
output/
!output/.gitkeep
data/*
!data/.gitkeep