apiVersion: apps/v1
kind: Deployment
metadata:
  name: query-frontend
  namespace: tracing
spec:
  minReadySeconds: 10
  replicas: 2
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: query-frontend
      name: query-frontend
  strategy:
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
  template:
    metadata:
      annotations:
        config_hash: 46188d18f0d8adfa8586e9dbeb744db2
      labels:
        app: query-frontend
        name: query-frontend
    spec:
      containers:
      - args:
        - -config.file=/conf/tempo.yaml
        - -mem-ballast-size-mbs=1024
        - -target=query-frontend
        image: grafana/tempo:latest
        imagePullPolicy: IfNotPresent
        name: query-frontend
        ports:
        - containerPort: 3200
          name: prom-metrics
        readinessProbe:
          httpGet:
            path: /ready
            port: 3200
          initialDelaySeconds: 15
          timeoutSeconds: 1
        resources:
          limits:
            cpu: "1"
            memory: 2Gi
          requests:
            cpu: 500m
            memory: 1Gi
        volumeMounts:
        - mountPath: /conf
          name: tempo-conf
        - mountPath: /overrides
          name: overrides
      volumes:
      - configMap:
          name: tempo-query-frontend
        name: tempo-conf
      - configMap:
          name: tempo-overrides
        name: overrides
