version: "3"
services:

  distributor:
    image: grafana/tempo:latest
    command: "-target=distributor -config.file=/etc/tempo.yaml"
    restart: always
    volumes:
      - ./tempo-distributed.yaml:/etc/tempo.yaml
    ports:
      - "3200"   # tempo
# Uncomment the following lines to enable tracing
#    environment:
#      - JAEGER_AGENT_HOST=agent
#      - JAEGER_SAMPLER_TYPE=const
#      - JAEGER_SAMPLER_PARAM=1

  ingester-0:
    image: grafana/tempo:latest
    command: "-target=ingester -config.file=/etc/tempo.yaml"
    restart: always
    volumes:
      - ./tempo-distributed.yaml:/etc/tempo.yaml
    ports:
      - "3200"   # tempo
# Uncomment the following lines to enable tracing
#    environment:
#      - JAEGER_AGENT_HOST=agent
#      - JAEGER_SAMPLER_TYPE=const
#      - JAEGER_SAMPLER_PARAM=1

  ingester-1:
    image: grafana/tempo:latest
    command: "-target=ingester -config.file=/etc/tempo.yaml"
    restart: always
    volumes:
      - ./tempo-distributed.yaml:/etc/tempo.yaml
    ports:
      - "3200"   # tempo
# Uncomment the following lines to enable tracing
#    environment:
#      - JAEGER_AGENT_HOST=agent
#      - JAEGER_SAMPLER_TYPE=const
#      - JAEGER_SAMPLER_PARAM=1

  ingester-2:
    image: grafana/tempo:latest
    command: "-target=ingester -config.file=/etc/tempo.yaml"
    restart: always
    volumes:
      - ./tempo-distributed.yaml:/etc/tempo.yaml
    ports:
      - "3200"   # tempo
# Uncomment the following lines to enable tracing
#    environment:
#      - JAEGER_AGENT_HOST=agent
#      - JAEGER_SAMPLER_TYPE=const
#      - JAEGER_SAMPLER_PARAM=1

  query-frontend:
    image: grafana/tempo:latest
    command: "-target=query-frontend -config.file=/etc/tempo.yaml -log.level=debug"
    restart: always
    volumes:
      - ./tempo-distributed.yaml:/etc/tempo.yaml
    ports:
      - "3200:3200"   # tempo
# Uncomment the following lines to enable tracing
#    environment:
#      - JAEGER_AGENT_HOST=agent
#      - JAEGER_SAMPLER_TYPE=const
#      - JAEGER_SAMPLER_PARAM=1

  querier:
    image: grafana/tempo:latest
    command: "-target=querier -config.file=/etc/tempo.yaml -log.level=debug"
    restart: always
    volumes:
      - ./tempo-distributed.yaml:/etc/tempo.yaml
    ports:
      - "3200"   # tempo
# Uncomment the following lines to enable tracing
#    environment:
#      - JAEGER_AGENT_HOST=agent
#      - JAEGER_SAMPLER_TYPE=const
#      - JAEGER_SAMPLER_PARAM=1

  compactor:
    image: grafana/tempo:latest
    command: "-target=compactor -config.file=/etc/tempo.yaml"
    restart: always
    volumes:
      - ./tempo-distributed.yaml:/etc/tempo.yaml
    ports:
      - "3200"   # tempo
# Uncomment the following lines to enable tracing
#    environment:
#      - JAEGER_AGENT_HOST=agent
#      - JAEGER_SAMPLER_TYPE=const
#      - JAEGER_SAMPLER_PARAM=1

  metrics-generator:
    image: grafana/tempo:latest
    command: "-target=metrics-generator -config.file=/etc/tempo.yaml"
    restart: always
    volumes:
      - ./tempo-distributed.yaml:/etc/tempo.yaml
    ports:
      - "3200"   # tempo
# Uncomment the following lines to enable tracing
#    environment:
#      - JAEGER_AGENT_HOST=agent
#      - JAEGER_SAMPLER_TYPE=const
#      - JAEGER_SAMPLER_PARAM=1

  minio:
    image: minio/minio:latest
    environment:
      - MINIO_ACCESS_KEY=tempo
      - MINIO_SECRET_KEY=supersecret
    ports:
      - "9001:9001"
    entrypoint:
      - sh
      - -euc
      - mkdir -p /data/tempo && minio server /data --console-address ':9001'

  k6-tracing:
    image: ghcr.io/grafana/xk6-client-tracing:latest
    environment:
      - ENDPOINT=distributor:4317
    restart: always
    depends_on:
      - distributor
    logging:
      driver: "none"

  prometheus:
    image: prom/prometheus:latest
    command:
      - --config.file=/etc/prometheus.yaml
      - --web.enable-remote-write-receiver
      - --enable-feature=exemplar-storage
    volumes:
      - ./prometheus.yaml:/etc/prometheus.yaml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:10.4.2
    volumes:
      - ./grafana-datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
      - GF_FEATURE_TOGGLES_ENABLE=traceqlEditor
    ports:
      - "3000:3000"

  agent:
    image: grafana/agent:v0.38.1
    volumes:
      - /tmp/agent:/tmp/agent
      - ./agent.river:/etc/agent.river
    environment:
      - AGENT_MODE=flow
    entrypoint:
      - sh
      - -euc
      - /bin/grafana-agent run --server.http.listen-addr=0.0.0.0:12345 /etc/agent.river
    ports:
      - "12345:12345"