#
# base config for e2e tests. any field in this config can be overridden by passing in a 
# ConfigOverlay to the e2e test framework.
#
# Note: A lot of this is boilerplate, but there a few settings that exist to hasten 
# the normal Tempo processes for the sake of e2e tests. See all comments marked "timings"
# below.
#

stream_over_http_enabled: true
partition_ring_live_store: true

server:
  http_listen_port: 3200
  log_level: info

overrides:
  per_tenant_override_config: /shared/overrides.yaml
  per_tenant_override_period: 1s # timings: check for updated overrides every second
  defaults:
    metrics_generator:
      processors: [service-graphs, span-metrics]

query_frontend:
  query_end_cutoff: -5m # jpe - why?
  rf1_after: "2025-01-01T00:00:00Z"

distributor:
  ingester_write_path_enabled: false
  kafka_write_path_enabled: true
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: "0.0.0.0:4317"
        http:
          endpoint: "0.0.0.0:4318"
    zipkin:
      endpoint: "0.0.0.0:9411"
    jaeger:
      protocols:
        grpc:
          endpoint: "0.0.0.0:14250"

live_store:
  max_trace_live: 5s # timings: the max amount of time a trace can be in the live map
  max_trace_idle: 1s # timings: the max amount of time a trace can be idle in the live map
  flush_check_period: 5s # timings: check for traces to flush and wal blocks to complete every 5s
  max_block_duration: 5s # timings: complete any wal file that's older than 5s. 10s is the max age of a wal file
  partition_ring:
    kvstore:
      store: memberlist
    delete_inactive_partition_after: 1s # jpe - gru?

storage:
  trace:
    backend: local
    local:
      path: /shared/var/tempo/backend # jpe - move all paths to /shared for visibility?
    pool:
      max_workers: 10
      queue_depth: 100
    blocklist_poll: 2s # timings: check for updated blocklists every 2s

memberlist:
  abort_if_cluster_join_fails: false
  bind_port: 7946
  join_members:
    - live-store-zone-a-0:7946
    - live-store-zone-b-0:7946

block_builder:
  consume_cycle_duration: 10s # timings: how often to check and flush a new block? jpe - review - watching tempo_block_builder_flushed_blocks sometimes fails. see encodings test for example
  assigned_partitions:
    block-builder-0:
    - 0

ingest:
  enabled: true
  kafka:
    address: kafka:9092
    topic: tempo-ingest

querier:
  frontend_worker:
    frontend_address: query-frontend:9095
  query_live_store: true

metrics_generator:
  registry:
    collection_interval: 1s # timings: collect and send metrics every second
  storage:
    path: /shared/var/tempo
    remote_write:
      - url: http://prometheus:9090/api/v1/write 
        send_exemplars: true

backend_scheduler:
  provider:
    compaction:
      min_cycle_interval: 50ms # timings: jpe research
      measure_interval: 1s # timings: jpe research
backend_worker:
  backend_scheduler_addr: backend-scheduler:9095
  finish_on_shutdown_timeout: 1s # timings: jpe research