apiVersion: apps/v1
kind: Deployment
metadata:
  name: metrics-generator
  namespace: tracing
spec:
  replicas: 0
  selector:
    matchLabels:
      app: metrics-generator
      name: metrics-generator
      tempo-gossip-member: "true"
  strategy:
    rollingUpdate:
      maxSurge: 3
      maxUnavailable: 1
  template:
    metadata:
      annotations:
        config_hash: b1269f1048a95cb09da9d79a431be321
      labels:
        app: metrics-generator
        name: metrics-generator
        tempo-gossip-member: "true"
    spec:
      containers:
      - args:
        - -config.file=/conf/tempo.yaml
        - -mem-ballast-size-mbs=1024
        - -target=metrics-generator
        image: grafana/tempo:latest
        name: metrics-generator
        ports:
        - containerPort: 3200
          name: prom-metrics
        readinessProbe:
          httpGet:
            path: /ready
            port: 3200
          initialDelaySeconds: 15
          timeoutSeconds: 1
        resources:
          limits:
            cpu: "1"
            ephemeral-storage: 11Gi
            memory: 2Gi
          requests:
            cpu: 500m
            ephemeral-storage: 10Gi
            memory: 1Gi
        volumeMounts:
        - mountPath: /conf
          name: tempo-conf
        - mountPath: /var/tempo
          name: metrics-generator-data
        - mountPath: /overrides
          name: overrides
      volumes:
      - configMap:
          name: tempo-metrics-generator
        name: tempo-conf
      - configMap:
          name: tempo-overrides
        name: overrides
      - emptyDir: {}
        name: metrics-generator-data
