target: all-3.0
stream_over_http_enabled: true
partition_ring_live_store: true

server:
  http_listen_port: 3200
  tls_cipher_suites: TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
  tls_min_version: VersionTLS12
  grpc_tls_config:
    cert_file: /shared/tls.crt
    key_file: /shared/tls.key
    client_auth_type: VerifyClientCertIfGiven
    client_ca_file: /shared/ca.crt
  http_tls_config:
    cert_file: /shared/tls.crt
    key_file: /shared/tls.key
    client_auth_type: VerifyClientCertIfGiven
    client_ca_file: /shared/ca.crt

internal_server:
  enable: true
  http_listen_port: 3201

distributor:
  ingester_write_path_enabled: false
  kafka_write_path_enabled: true
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: "0.0.0.0:4317"

ingest:
  enabled: true
  kafka:
    address: kafka:9092
    topic: tempo-ingest

live_store: # jpe - lots of copying from config-base.yaml how do we share this?
  max_trace_live: 5s # timings: the max amount of time a trace can be in the live map
  max_trace_idle: 1s # timings: the max amount of time a trace can be idle in the live map
  flush_check_period: 5s # timings: check for traces to flush and wal blocks to complete every 5s
  max_block_duration: 5s # timings: complete any wal file that's older than 5s. 10s is the max age of a wal file

storage:
  trace:
    backend: local
    local:
      path: /var/tempo/backend

live_store_client:
  grpc_client_config:
    tls_enabled: true
    tls_insecure_skip_verify: true
    tls_cipher_suites: TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
    tls_min_version: VersionTLS12

backend_scheduler_client:
  grpc_client_config:
    tls_enabled: true
    tls_insecure_skip_verify: true
    tls_cipher_suites: TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
    tls_min_version: VersionTLS12

querier:
  query_live_store: true
  frontend_worker:
    grpc_client_config:
      tls_enabled: true
      tls_insecure_skip_verify: true
      tls_cipher_suites: TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
      tls_min_version: VersionTLS12
