server:
  http_listen_port: 3200
  tls_cipher_suites: TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
  tls_min_version: VersionTLS12
  grpc_tls_config:
    cert_file: /shared/tls.crt
    key_file: /shared/tls.key
    client_auth_type: VerifyClientCertIfGiven
    client_ca_file: /shared/ca.crt
  http_tls_config:
    cert_file: /shared/tls.crt
    key_file: /shared/tls.key
    client_auth_type: VerifyClientCertIfGiven
    client_ca_file: /shared/ca.crt

internal_server:
  enable: true
  http_listen_port: 3201

live_store_client:
  grpc_client_config:
    tls_enabled: true
    tls_insecure_skip_verify: true
    tls_cipher_suites: TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
    tls_min_version: VersionTLS12

backend_scheduler_client:
  grpc_client_config:
    tls_enabled: true
    tls_insecure_skip_verify: true
    tls_cipher_suites: TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
    tls_min_version: VersionTLS12

querier:
  query_live_store: true
  frontend_worker:
    grpc_client_config:
      tls_enabled: true
      tls_insecure_skip_verify: true
      tls_cipher_suites: TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
      tls_min_version: VersionTLS12
