image: grafana/{{config.target}}
tags:
  - latest
  - {{index build.tags 0}}
manifests:
  - image: grafana/{{config.target}}:{{index build.tags 0}}-amd64
    platform:
      architecture: amd64
      os: linuxw
  - image: grafana/{{config.target}}:{{index build.tags 0}}-amd64
    platform:
      architecture: arm64
      os: linux