services:
  # Tempo runs as user 10001, and docker compose creates the volume as root.
  # As such, we need to chown the volume in order for Tempo to start correctly.
  init:
    image: busybox:latest
    user: root
    entrypoint:
      - "chown"
      - "10001:10001"
      - "/var/tempo"
    volumes:
      - ./tempo-data:/var/tempo

  distributor:
    image: &tempoImage grafana/tempo:latest
    depends_on:
      - redpanda
    command: "-target=distributor -config.file=/etc/tempo.yaml"
    restart: always
    volumes:
      - ./tempo.yaml:/etc/tempo.yaml
    ports:
      - "3200" # tempo
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://alloy:4318

  live-store-zone-a-0:
    image: *tempoImage
    depends_on:
      - redpanda
    command: "-target=live-store -config.file=/etc/tempo.yaml -live-store.instance-availability-zone=zone-a"
    restart: always
    volumes:
      - ./tempo.yaml:/etc/tempo.yaml
    ports:
      - "3201:3200" # tempo
    hostname: live-store-zone-a-0
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://alloy:4318

  live-store-zone-a-1:
    image: *tempoImage
    depends_on:
      - redpanda
    command: "-target=live-store -config.file=/etc/tempo.yaml -live-store.instance-availability-zone=zone-a"
    restart: always
    volumes:
      - ./tempo.yaml:/etc/tempo.yaml
    ports:
      - "3200" # tempo
    hostname: live-store-zone-a-1
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://alloy:4318

  live-store-zone-b-0:
    image: *tempoImage
    depends_on:
      - redpanda
    command: "-target=live-store -config.file=/etc/tempo.yaml -live-store.instance-availability-zone=zone-b"
    restart: always
    volumes:
      - ./tempo.yaml:/etc/tempo.yaml
    ports:
      - "3200" # tempo
    hostname: live-store-zone-b-0
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://alloy:4318

  live-store-zone-b-1:
    image: *tempoImage
    depends_on:
      - redpanda
    command: "-target=live-store -config.file=/etc/tempo.yaml -live-store.instance-availability-zone=zone-b"
    restart: always
    volumes:
      - ./tempo.yaml:/etc/tempo.yaml
    ports:
      - "3200" # tempo
    hostname: live-store-zone-b-1
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://alloy:4318

  query-frontend:
    image: *tempoImage
    command: "-target=query-frontend -config.file=/etc/tempo.yaml -log.level=debug"
    restart: always
    volumes:
      - ./tempo.yaml:/etc/tempo.yaml
    ports:
      - "3200:3200" # tempo
  # Uncomment the following lines to enable tracing
  #    environment:
  #      - OTEL_EXPORTER_OTLP_ENDPOINT=http://alloy:4318

  querier:
    image: *tempoImage
    command: "-target=querier -config.file=/etc/tempo.yaml -log.level=debug"
    restart: always
    volumes:
      - ./tempo.yaml:/etc/tempo.yaml
    ports:
      - "3200" # tempo
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://alloy:4318

  compactor:
    image: *tempoImage
    depends_on:
      - redpanda
    command: "-target=compactor -config.file=/etc/tempo.yaml"
    restart: always
    volumes:
      - ./tempo.yaml:/etc/tempo.yaml
    ports:
      - "3200" # tempo
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://alloy:4318

  metrics-generator-0:
    image: *tempoImage
    depends_on:
      - redpanda
    command: "-target=metrics-generator -config.file=/etc/tempo.yaml"
    hostname: metrics-generator-0
    restart: always
    volumes:
      - ./tempo.yaml:/etc/tempo.yaml
    ports:
      - "3200" # tempo
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://alloy:4318

  metrics-generator-1:
    image: *tempoImage
    depends_on:
      - redpanda
    command: "-target=metrics-generator -config.file=/etc/tempo.yaml"
    hostname: metrics-generator-1
    restart: always
    volumes:
      - ./tempo.yaml:/etc/tempo.yaml
    ports:
      - "3200" # tempo
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://alloy:4318

  block-builder-0:
    image: *tempoImage
    depends_on:
      - redpanda
    command: "-target=block-builder -config.file=/etc/tempo.yaml"
    hostname: block-builder-0
    restart: always
    volumes:
      - ./tempo.yaml:/etc/tempo.yaml
    ports:
      - "3200" # tempo
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://alloy:4318

  block-builder-1:
    image: *tempoImage
    depends_on:
      - redpanda
    command: "-target=block-builder -config.file=/etc/tempo.yaml"
    hostname: block-builder-1
    restart: always
    volumes:
      - ./tempo.yaml:/etc/tempo.yaml
    ports:
      - "3200" # tempo
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://alloy:4318

  minio:
    image: minio/minio:latest
    environment:
      - MINIO_ACCESS_KEY=tempo
      - MINIO_SECRET_KEY=supersecret
    ports:
      - "9001:9001"
    entrypoint:
      - sh
      - -euc
      - mkdir -p /data/tempo && minio server /data --console-address ':9001'

  k6-tracing:
    image: ghcr.io/grafana/xk6-client-tracing:v0.0.9
    environment:
      - ENDPOINT=distributor:4317
    restart: always
    depends_on:
      - distributor

  prometheus:
    image: prom/prometheus:latest
    command:
      - --config.file=/etc/prometheus.yaml
      - --web.enable-remote-write-receiver
      - --enable-feature=exemplar-storage
      - --enable-feature=native-histograms
    volumes:
      - ./prometheus.yaml:/etc/prometheus.yaml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:12.3.1@sha256:2175aaa91c96733d86d31cf270d5310b278654b03f5718c59de12a865380a31f
    volumes:
      - ../distributed/grafana-datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
      - GF_FEATURE_TOGGLES_ENABLE=traceqlEditor metricsSummary
    ports:
      - "3000:3000"

  redpanda:
    image: redpandadata/redpanda:latest
    container_name: redpanda
    ports:
      - "9092:9092" # Kafka API for clients
    command: >
      redpanda start --overprovisioned
      --mode=dev-container
      --kafka-addr=PLAINTEXT://0.0.0.0:9092
      --advertise-kafka-addr=PLAINTEXT://redpanda:9092
    volumes:
      - redpanda-data:/var/lib/redpanda/data

  redpanda-console:
    image: docker.redpanda.com/redpandadata/console:v2.7.0@sha256:6ee7ed1203a7d4fd4181765929b28cb2450296402d82cd4d1c491c2d5191f45d
    environment:
      - CONFIG_FILEPATH=/etc/redpanda/redpanda-console-config.yaml
    volumes:
      - ../shared/redpanda-console.yaml:/etc/redpanda/redpanda-console-config.yaml
    ports:
      - "8080:8080"
    depends_on:
      - redpanda
  alloy:
    image: grafana/alloy:v1.12.1@sha256:c311595156fca7b1131683d383dae1acfd29e8879d347161d2a6f714ebac0c0b
    volumes:
      - ../shared/config.alloy:/etc/alloy/config.alloy
    command:
      - run
      - /etc/alloy/config.alloy
      - --storage.path=/var/lib/alloy/data
      - --server.http.listen-addr=0.0.0.0:12345
    environment:
      - ALLOY_OTLP_UPSTREAM=distributor:4317
    ports:
      - "12345:12345"
    depends_on:
      - distributor
volumes:
  redpanda-data:
