# This checks merged PRs for labels like "backport release-x.y" 
# and opens a new PR backporting the same commit to the release branch.
# This workflow also runs when the PR is labeled or opened, but will
# will only check a few things and detect that the PR is not yet merged. 
# At this time only squashed PRs are supported since the cherry-pick 
# command does not include "-m <n>" arg required for merge commits.
name: Backport PR Creator
on:
  pull_request_target:
    types:
      - closed
      - labeled

jobs:
  main:
    # skip it in all forks, only run in grafana/tempo.
    if: github.repository == 'grafana/tempo'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Actions
        uses: actions/checkout@v4
        with:
          repository: "grafana/grafana-github-actions"
          path: ./actions
          ref: main
      - name: Install Actions
        run: npm install --production --prefix ./actions
      - name: Generate GitHub App token
        id: app-token
        uses: actions/create-github-app-token@3ff1caaa28b64c9cc276ce0a02e2ff584f3900c5 # v2.0.2
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: tempo
      - name: Run backport
        uses: ./actions/backport
        with:
          token: ${{ steps.app-token.outputs.token }}
          labelsToAdd: "backport"
          title: "[{{base}}] {{originalTitle}}"
