# This checks merged PRs for labels like "backport release-x.y" 
# and opens a new PR backporting the same commit to the release branch.
# This workflow also runs when the PR is labeled or opened, but will
# will only check a few things and detect that the PR is not yet merged. 
# At this time only squashed PRs are supported since the cherry-pick 
# command does not include "-m <n>" arg required for merge commits.
name: Backport
on:
  pull_request_target:
    types:
      - closed
      - labeled

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Get app token
        uses: actions/create-github-app-token@v1
        id: get-github-app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
      - name: Checkout Actions
        uses: actions/checkout@v4
        with:
          repository: "grafana/grafana-github-actions"
          path: ./actions
          ref: main

      - name: Install Actions
        run: npm install --production --prefix ./actions

      - name: Run backport
        uses: ./actions/backport
        with:
          token: ${{ steps.get-github-app-token.outputs.token }}
          labelsToAdd: "backport"
          title: "[{{base}}] {{originalTitle}}"