# This checks merged PRs for labels like "backport release-x.y"
# and opens a new PR backporting the same commit to the release branch.
# This workflow also runs when the PR is labeled or opened, but will
# will only check a few things and detect that the PR is not yet merged.
# At this time only squashed PRs are supported since the cherry-pick
# command does not include "-m <n>" arg required for merge commits.
name: Backport PR Creator
on:
  pull_request:
    types:
      - closed
      - labeled

permissions: {}

jobs:
  main:
    # skip it in all forks, only run in grafana/tempo.
    if: github.repository == 'grafana/tempo'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      pull-requests: write
    steps:
      - name: Checkout Actions
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          repository: "grafana/grafana-github-actions"
          path: ./actions
          ref: main
          persist-credentials: false
      - name: Install Actions
        run: npm install --production --prefix ./actions
      - name: Get Github App secrets from vault
        id: get-secrets
        uses: grafana/shared-workflows/actions/get-vault-secrets@051f0a1cef0e1ef9f92fbe57c65b1eec029c3904 #get-vault-secrets 1.3.0
        with:
          export_env: false
          repo_secrets: |
            APP_ID=tempo-ci-app:app-id
            PRIVATE_KEY=tempo-ci-app:private-key
      - name: Generate GitHub App token
        id: app-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ fromJSON(steps.get-secrets.outputs.secrets).APP_ID }}
          private-key: ${{ fromJSON(steps.get-secrets.outputs.secrets).PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: tempo
      - name: Run backport
        uses: ./actions/backport
        with:
          token: ${{ steps.app-token.outputs.token }}
          labelsToAdd: "backport"
          title: "[{{base}}] {{originalTitle}}"
