name: CI
on:
  pull_request:
# Requiring certain checks for PRs to be merge-able in Github, forces for those checks to be *always* run.
# Even if the changes do not require them (i.e. the paths indicated below). That's why `paths-ignore` is commented out.
#
#    paths-ignore:
#      - 'docs/**'
#      - 'example/**'
#      - 'tools/**'

concurrency:
  # Cancel any running workflow for the same branch when new commits are pushed.
  # We group both by ref_name (available when CI is triggered by a push to a branch/tag)
  # and head_ref (available when CI is triggered by a PR).
  group: "${{ github.ref_name }}-${{ github.head_ref }}"
  cancel-in-progress: true

jobs:

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.22
        uses: actions/setup-go@v5
        with:
          go-version: '>=1.22.4'

      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: '0'

      - name: check-fmt
        run: make check-fmt

      - name: check-jsonnetfmt
        run: make check-jsonnetfmt

      - name: lint
        run: make lint base=origin/${{github.base_ref}}

  unit-tests-pkg:
    name: Test packages - pkg
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.22
        uses: actions/setup-go@v5
        with:
          go-version: '>=1.22.4'

      - name: Check out code
        uses: actions/checkout@v4

      - name: Test
        run: make test-with-cover-pkg

  unit-tests-tempodb:
    name: Test packages - tempodb
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.22
        uses: actions/setup-go@v5
        with:
          go-version: '>=1.22.4'

      - name: Check out code
        uses: actions/checkout@v4

      - name: Test
        run: make test-with-cover-tempodb

  unit-tests-tempodb-wal:
    name: Test packages - tempodb/wal
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.22
        uses: actions/setup-go@v5
        with:
          go-version: '>=1.22.4'

      - name: Check out code
        uses: actions/checkout@v4

      - name: Test
        run: make test-with-cover-tempodb-wal

  unit-tests-others:
    name: Test packages - others
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.22
        uses: actions/setup-go@v5
        with:
          go-version: '>=1.22.4'

      - name: Check out code
        uses: actions/checkout@v4

      - name: Test
        run: make test-with-cover-others

  integration-tests:
    name: Test integration e2e suite
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.22
        uses: actions/setup-go@v5
        with:
          go-version: '>=1.22.4'

      - name: Check out code
        uses: actions/checkout@v4

      - name: Test
        run: make test-e2e

  integration-tests-poller:
    name: Test integration e2e suite - poller
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.22
        uses: actions/setup-go@v5
        with:
          go-version: '>=1.22.4'

      - name: Check out code
        uses: actions/checkout@v4

      - name: Poller
        run: make test-integration-poller

  integration-tests-deployment-modes:
    name: Test integration e2e suite - deployment modes
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.22
        uses: actions/setup-go@v5
        with:
          go-version: '>=1.22.4'

      - name: Check out code
        uses: actions/checkout@v4

      - name: Deployment modes
        run: make test-e2e-deployments

  integration-tests-serverless:
    name: Test integration e2e suite - serverless
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.22
        uses: actions/setup-go@v5
        with:
          go-version: '>=1.22.4'

      - name: Check out code
        uses: actions/checkout@v4

      - name: Test
        run: make test-e2e-serverless

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.22
        uses: actions/setup-go@v5
        with:
          go-version: '>=1.22.4'

      - name: Check out code
        uses: actions/checkout@v4

      - name: Build Tempo
        run: make tempo

      - name: Build tempo-query
        run: make tempo-query

      - name: Build vulture
        run: make tempo-vulture

      - name: Build tempo-cli
        run: make tempo-cli

  benchmark:
    name: Benchmark
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.22
        uses: actions/setup-go@v5
        with:
          go-version: '>=1.22.4'

      - name: Check out code
        uses: actions/checkout@v4

      - name: Bench
        run: make test-bench

  vendor-check:
    name: Vendor check
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.22
        uses: actions/setup-go@v5
        with:
          go-version: '>=1.22.4'

      - name: Check out code
        uses: actions/checkout@v4

      - name: Install Protoc
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Check vendor
        run: make vendor-check

  tempo-jsonnet:
    name: Check jsonnet & tempo-mixin
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.22
        uses: actions/setup-go@v5
        with:
          go-version: '>=1.22.4'

      - name: Check out code
        uses: actions/checkout@v4

      - name: Check jsonnet
        run: make jsonnet-check

      - name: Check tempo-mixin
        run: make tempo-mixin-check

      - name: Test jsonnet
        run: make jsonnet-test

  build-technical-documentation:
    name: Build technical documentation
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Build Website
        run: docker run -v ${PWD}/docs/sources:/hugo/content/docs/tempo/latest --rm grafana/docs-base:latest make prod
