name: CI
on: [pull_request]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.15
      uses: actions/setup-go@v1
      with:
        go-version: 1.15
      id: go

    - name: Set up qemu
      uses: docker/setup-qemu-action@v1

    - name: Set up buildx
      uses: docker/setup-buildx-action@v1

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Lint
      uses: golangci/golangci-lint-action@v1
      with:
        version: v1.30

    - name: Install Protoc
      uses: arduino/setup-protoc@v1
      with:
        version: '3.11.2'

#    - name: Check vendor
#      run: make vendor-check

    - name: Test
      run: make test-all

    - name: Build Tempo
      run: make tempo

    - name: Build Tempo-Query
      run: make tempo-query

    - name: Check docs
      run: make docs-test
