name: CI
on:
  pull_request:
    paths:
      - '**.go'
      - 'go.mod'
      - 'Makefile'
      - '**.jsonnet'

pr_conditions: &conditions
  github.event_name == 'pull_request' &&
  (
    github.event.changes != null &&
    (
      contains(github.event.changes, 'docs/**') ||
      contains(github.event.changes, 'README.md') ||
      contains(github.event.changes, 'Makefile.md')
    )
  )

concurrency:
  # Cancel any running workflow for the same branch when new commits are pushed.
  # We group both by ref_name (available when CI is triggered by a push to a branch/tag)
  # and head_ref (available when CI is triggered by a PR).
  group: "${{ github.ref_name }}-${{ github.head_ref }}"
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    if: ${{ *pr_conditions }}
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: "0"
      - name: Set up Go 1.22
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
      - name: check-fmt
        run: make check-fmt
      - name: check-jsonnetfmt
        run: make check-jsonnetfmt
      - name: lint
        run: make lint base=origin/${{github.base_ref}}

  unit-tests:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    if: ${{ *pr_conditions }}
    strategy:
      matrix:
        test-target:
          [
            test-with-cover-pkg,
            test-with-cover-tempodb,
            test-with-cover-tempodb-wal,
            test-with-cover-others,
          ]

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go 1.22
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"

      - name: Run Tests
        run: make ${{ matrix.test-target }}

  integration-tests:
    name: Run integration tests
    runs-on: ubuntu-latest
    if: ${{ *pr_conditions }}
    strategy:
      matrix:
        test-target:
          [
            test-e2e,
            test-integration-poller,
            test-e2e-deployments,
            test-e2e-serverless,
          ]

    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up Go 1.22
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
      - name: Run Tests
        run: make ${{ matrix.test-target }}

  build:
    name: Build
    runs-on: ubuntu-latest
    if: ${{ *pr_conditions }}
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go 1.22
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"

      - name: Build Tempo
        run: make tempo

      - name: Build tempo-query
        run: make tempo-query

      - name: Build vulture
        run: make tempo-vulture

      - name: Build tempo-cli
        run: make tempo-cli

  benchmark:
    name: Benchmark
    runs-on: ubuntu-latest
    if: ${{ *pr_conditions }}
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go 1.22
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"

      - name: Bench
        run: make test-bench

  vendor-check:
    name: Vendor check
    runs-on: ubuntu-latest
    if: ${{ *pr_conditions }}
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go 1.22
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"

      - name: Install Protoc
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Check vendor
        run: make vendor-check

  tempo-jsonnet:
    name: Check jsonnet & tempo-mixin
    runs-on: ubuntu-latest
    if: ${{ *pr_conditions }}
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go 1.22
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"

      - name: Check jsonnet
        run: make jsonnet-check

      - name: Check tempo-mixin
        run: make tempo-mixin-check

      - name: Test jsonnet
        run: make jsonnet-test

  build-technical-documentation:
    name: Build technical documentation
    runs-on: ubuntu-latest
    paths:
      - 'docs/**'
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Build Website
        run: docker run -v ${PWD}/docs/sources:/hugo/content/docs/tempo/latest --rm grafana/docs-base:latest make prod
