name: CI
on: 
  pull_request:
    paths-ignore:
      - 'docs/**'
      - 'example/**'
      - 'operations/**'
      - 'tools/**'
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.17
      uses: actions/setup-go@v2
      with:
        go-version: 1.17
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Lint
      uses: golangci/golangci-lint-action@v2
      with:
        version: v1.41.1

    - name: Install Protoc
      uses: arduino/setup-protoc@v1
      with:
        version: '3.11.2'

    - name: Check vendor
      run: make vendor-check

    - name: Test
      run: make test-all

    - name: Build Tempo
      run: make tempo

    - name: Build Tempo-Query
      run: make tempo-query

  tempo-mixin:
    name: Check kube-manifests & tempo-mixin
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go 1.16
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Install jsonnet & jsonnet-bundler
        run: |
          brew install jsonnet
          go install github.com/jsonnet-bundler/jsonnet-bundler/cmd/jb@v0.4.0

      - name: Check out code
        uses: actions/checkout@v2

      - name: Check kube-manifests
        run: make kube-manifests-check

      - name: Check tempo-mixin
        run: make tempo-mixin-check
