name: publish-technical-documentation-next

permissions: {}

on:
  push:
    branches:
      - main
    paths:
      - "docs/sources/**"
  workflow_dispatch:
jobs:
  sync:
    if: github.repository == 'grafana/tempo'
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - uses: grafana/writers-toolkit/publish-technical-documentation@9cd40a7f81073bfcad984f1e93dc89eae8a9b464
        with:
          source_directory: docs/sources/tempo
          website_directory: content/docs/tempo/next
      - uses: grafana/writers-toolkit/publish-technical-documentation@9cd40a7f81073bfcad984f1e93dc89eae8a9b464
        with:
          source_directory: docs/sources/helm-charts/tempo-distributed
          website_directory: content/docs/helm-charts/tempo-distributed/next
