name: publish-technical-documentation-next

permissions: {}

on:
  push:
    branches:
      - main
    paths:
      - "docs/sources/**"
  workflow_dispatch:
jobs:
  sync:
    if: github.repository == 'grafana/tempo'
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false
      - uses: grafana/writers-toolkit/publish-technical-documentation@4afe3ee69a4b08f07bff27e33bc3eaa27525a430
        with:
          source_directory: docs/sources/tempo
          website_directory: content/docs/tempo/next
      - uses: grafana/writers-toolkit/publish-technical-documentation@4afe3ee69a4b08f07bff27e33bc3eaa27525a430
        with:
          source_directory: docs/sources/helm-charts/tempo-distributed
          website_directory: content/docs/helm-charts/tempo-distributed/next
