name: publish-technical-documentation-next

on:
  push:
    branches:
      - main
    paths:
      - "docs/sources/**"
  workflow_dispatch:
jobs:
  sync:
    if: github.repository == 'grafana/tempo'
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: grafana/writers-toolkit/publish-technical-documentation@publish-technical-documentation/v1
        with:
          source_directory: docs/sources/tempo
          website_directory: content/docs/tempo/next
      - uses: grafana/writers-toolkit/publish-technical-documentation@publish-technical-documentation/v1
        with:
          source_directory: docs/sources/helm-charts/tempo-distributed
          website_directory: content/docs/helm-charts/tempo-distributed/next


