name: publish-technical-documentation-release

permissions: {}

on:
  push:
    branches:
      - release-*
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
    paths:
      - 'docs/sources/tempo/**'
  workflow_dispatch:
jobs:
  sync:
    if: github.repository == 'grafana/tempo'
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0
      - uses: grafana/writers-toolkit/publish-technical-documentation-release@19a847eb688082d8a3cedd27aeda1e42ad3ed1fe
        with:
          release_tag_regexp: "^v(\\d+)\\.(\\d+)\\.(\\d+)$"
          release_branch_regexp: "^release-v(\\d+)\\.(\\d+)$"
          release_branch_with_patch_regexp: "^release-v(\\d+)\\.(\\d+)\\.(\\d+)$"
          source_directory: docs/sources/tempo
          website_directory: content/docs/tempo
