name: release
on:
  push:
    tags:
      - 'v*'

# Needed to login to DockerHub
permissions: {}
jobs:
  release:
    if: github.repository == 'grafana/tempo'  # skip in forks
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false

      - name: fetch tags
        run: git fetch --tags --force

      - name: test release
        run: make release-snapshot

      - name: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: make release
