name: Renovate

on:
  push:
    branches:
      - main
    paths:
      - '.github/renovate.json5'
      - '.github/workflows/renovate.yml'

  pull_request:
    paths:
      - '.github/renovate.json5'
      - '.github/workflows/renovate.yml'

permissions:
  contents: read

jobs:
  validate:
    name: Validate Config
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false

      - name: Cache npm packages
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npx-renovate

      - name: Validate Renovate Config
        uses: grafana/shared-workflows/actions/validate-renovate-config@051f0a1cef0e1ef9f92fbe57c65b1eec029c3904 # v0.1.1
        with:
          path: .github/renovate.json5
