name: Renovate

on:
  push:
    branches:
      - main
    paths:
      - '.github/renovate.json5'
      - '.github/workflows/renovate.yml'

  pull_request:
    paths:
      - '.github/renovate.json5'
      - '.github/workflows/renovate.yml'

permissions:
  contents: read

jobs:
  validate:
    name: Validate Config
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false

      - name: Validate Renovate Config
        uses: grafana/shared-workflows/actions/validate-renovate-config@4178c5d9a0403e8b8e123baebc66e224d9c4f3cd # validate-renovate-config/v0.1.0
        with:
          path: .github/renovate.json5