name: syft-sbom-ci

permissions: {}

on:
  release:
    types: [created]

jobs:
  syft-sbom:

    runs-on: ubuntu-24.04

    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      with:
        persist-credentials: false
        
    - name: Anchore SBOM Action
      uses: anchore/sbom-action@a930d0ac434e3182448fe678398ba5713717112a # v0.21.0
      with:
         artifact-name: ${{ github.event.repository.name }}-spdx.json

