name: syft-sbom-ci

permissions: {}

on:
  release:
    types: [created]

jobs:
  syft-sbom:

    runs-on: ubuntu-24.04

    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      with:
        persist-credentials: false
        
    - name: Anchore SBOM Action
      uses: anchore/sbom-action@0b82b0b1a22399a1c542d4d656f70cd903571b5c # v0.21.1
      with:
         artifact-name: ${{ github.event.repository.name }}-spdx.json

