name: syft-sbom-ci

permissions: {}

on:
  release:
    types: [created]

jobs:
  syft-sbom:

    runs-on: ubuntu-24.04

    steps:
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      with:
        persist-credentials: false
        
    - name: Anchore SBOM Action
      uses: anchore/sbom-action@8e94d75ddd33f69f691467e42275782e4bfefe84 # v0.20.9
      with:
         artifact-name: ${{ github.event.repository.name }}-spdx.json

