name: Update `make docs` procedure

permissions: {}

on:
  schedule:
    - cron: '0 7 * * 1-5'
  workflow_dispatch:
jobs:
  main:
    if: github.repository == 'grafana/tempo'
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          persist-credentials: false
      - uses: grafana/writers-toolkit/update-make-docs@9724cc57a57ea7ffd19458315ae6fb540f45160c
