name: Update `make docs` procedure
on:
  schedule:
    - cron: '0 7 * * 1-5'
  workflow_dispatch:
jobs:
  main:
    if: github.repository == 'grafana/tempo'
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: grafana/writers-toolkit/update-make-docs@update-make-docs/v1
