name: publish_docs

on:
  push:
    branches:
      - main
    paths:
      - "docs/sources/helm-charts/**"
      - 'docs/sources/tempo/**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Build Website
        run: |
          docker run \
            -v ${PWD}/docs/sources/tempo:/hugo/content/docs/tempo/latest \
            -v ${PWD}/docs/sources/helm-charts/tempo-distributed:/hugo/content/docs/helm-charts/tempo-distributed/latest \
            -e HUGO_REFLINKSERRORLEVEL=ERROR \
            --rm \
              grafana/docs-base:latest \
                /bin/bash -c 'make hugo'

  sync:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v3
      - name: "Clone website-sync Action"
        # WEBSITE_SYNC_TOKEN is a fine-grained GitHub Personal Access Token that expires.
        # It must be regenerated in the grafanabot GitHub account and requires a Grafana organization
        # GitHub administrator to update the organization secret.
        # The IT helpdesk can update the organization secret.
        run: "git clone --single-branch --no-tags --depth 1 -b master https://grafanabot:${{ secrets.WEBSITE_SYNC_TOKEN }}@github.com/grafana/website-sync ./.github/actions/website-sync"

      - name: "Publish to website repository tempo (next)"
        uses: ./.github/actions/website-sync
        id: "publish-next-tempo"
        with:
          repository: grafana/website
          branch: master
          host: github.com
          # PUBLISH_TO_WEBSITE_TOKEN is a fine-grained GitHub Personal Access Token that expires.
          # It must be regenerated in the grafanabot GitHub account and requires a Grafana organization
          # GitHub administrator to update the organization secret.
          # The IT helpdesk can update the organization secret.
          github_pat: "grafanabot:${{ secrets.PUBLISH_TO_WEBSITE_TOKEN }}"
          source_folder: docs/sources/tempo
          target_folder: content/docs/tempo/next
          allow_no_changes: true

      - name: "Publish to website repository helm-charts/mimir-distributed (next)"
        uses: "./.github/actions/website-sync"
        id: "publish-next-tempo-distributed"
        with:
          repository: "grafana/website"
          branch: "master"
          host: "github.com"
          # PUBLISH_TO_WEBSITE_MIMIR is a fine-grained GitHub Personal Access Token that expires.
          # It must be updated in the grafanabot GitHub account.
          github_pat: "grafanabot:${{ secrets.PUBLISH_TO_WEBSITE_TOKEN }}"
          source_folder: "docs/sources/helm-charts/tempo-distributed"
          target_folder: "content/docs/helm-charts/tempo-distributed/next"
          allow_no_changes: true
