name: publish_docs

on:
  push:
    branches:
      - main
    paths:
      - 'docs/sources/**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Build Website
        run: docker run -v ${PWD}/docs/sources:/hugo/content/docs/tempo/latest --rm grafana/docs-base:latest make prod
  sync:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v3
      - name: "Clone website-sync Action"
        # WEBSITE_SYNC_TEMPO is a fine-grained GitHub Personal Access Token that expires.
        # It must be updated in the grafanabot GitHub account.
        run: "git clone --single-branch --no-tags --depth 1 -b master https://grafanabot:${{ secrets.WEBSITE_SYNC_TEMPO }}@github.com/grafana/website-sync ./.github/actions/website-sync"
      - name: publish-to-git
        uses: ./.github/actions/website-sync
        id: publish
        with:
          repository: grafana/website
          branch: master
          host: github.com
          # PUBLISH_TO_WEBSITE_TEMPO is a fine-grained GitHub Personal Access Token that expires.
          # It must be updated in the grafanabot GitHub account.
          github_pat: "grafanabot:${{ secrets.PUBLISH_TO_WEBSITE_TEMPO }}"
          source_folder: docs/sources
          target_folder: content/docs/tempo/next
      - shell: bash
        run: |
          test -n "${{ steps.publish.outputs.commit_hash }}"
          test -n "${{ steps.publish.outputs.working_directory }}"
